.description {
  --size: 14px;
  --mg-bottom: 16px;

  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: var(--size);
  margin-bottom: var(--mg-bottom);


  &.big {
    --size: 18px;
    --mg-bottom: 26px;
  }
}
