.location {
  --font-size: 14px;
  --padding-left: 16px;

  position: relative;
  padding-left: var(--padding-left);

  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: var(--font-size);



  &::before {
    content: '';
    width: 10px;
    height: 14px;

    position: absolute;
    left: 0;
    top: 1px;

    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('/img/Location-red.svg');
  }

  &.small {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  &.big {
    --font-size: 16px;
    --padding-left: 26px;

    padding-bottom: 24px;

    &::before {
      width: 16px;
      height: 28px;

      top: -4px;
      background-image: url('/img/Location-grey.svg');
    }
  }
}
