.people-amount-label {
  position: relative;

  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  
  padding-left: 34px;
  margin-bottom: 26px;

  &::before {
    content: '';
    width: 30px;
    height: 20px;

    position: absolute;
    left: 0;
    top: -2px;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  &.person::before {
    background-image: url('/img/Person.svg');
  }

  &.people::before {
    background-image: url('/img/People.svg');
  }
}
