.points {
    font-family: 'Quicksand', sans-serif;
    
    &.small {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &.big {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
}