.title {
  --size: 14px;
  --weight: 400;
  --mg-bottom: 16px;

  font-family: 'Quicksand', sans-serif;
  font-size: var(--size);
  font-weight: var(--weight);
  margin-bottom: var(--mg-bottom);

  &.big{
    --size: 30px;
    --weight: 700;
    --mg-bottom: 20px;
  }
}
