<script setup>
import { useRoute } from "vue-router";
import ActivityCard from '../components/ActivityCard.vue'
import Loader from '../components/Loader.vue';
import PaginationBar from '../components/PaginationBar.vue';

import { useApi, fetchActivities } from '../utils/api'
import { DEFAULT_PAGE_LIMIT } from '../utils/constants'

const {
  '_limit': limitQuery,
  '_page': pageQuery
} = useRoute().query;

const pageIdx = parseInt(pageQuery) || 1
const pageLimit = parseInt(limitQuery) || DEFAULT_PAGE_LIMIT
const { data, isLoading, error } = useApi(() => fetchActivities({ page: pageIdx, limit: pageLimit }))
</script>

<template>
  <div class="activities">
    <Loader :isLoading="isLoading" :error="error">
      <div class="activities__results">
        <ActivityCard
          v-for="({ title, activity, id, participants, points }, index) in data.results"
          :key="index"
          :title="title"
          :description="activity?.description"
          :shopLocation="activity?.location || ''"
          :thumbnail="activity?.image[0] || ''"
          :id="id"
          :participants="participants"
          :points="points"
        />
      </div>
      <PaginationBar
        :limit="pageLimit"
        :pageIdx="pageIdx"
        :totalResults="data.totalResults"
        :totalPages="data.totalPages"
      />
    </Loader>
  </div>
</template>
