<script setup>
import { useRoute } from 'vue-router';
import { useApi, fetchActivity, fetchActivities } from '../utils/api'

import ActivityDescription from '../components/ActivityDescription/ActivityDescription.vue';
import Loader from '../components/Loader.vue';
import SimilarActivities from '../components/SimilarActivities.vue';

// Fecth individual activity
const { id } = useRoute().params
const { data, isLoading, error } = useApi(() => fetchActivity({ id }))

// Fetch related activities
const {
  data: relatedData,
  isLoading: relatedIsLoading,
  error: relatedError
} = useApi(() => fetchActivities({ page: 1, limit: 6 }))
</script>
<template>
  <div class="activities">
    <Loader :isLoading="isLoading" :error="error">
      <ActivityDescription :data="data" />
    </Loader>

    <Loader :isLoading="relatedIsLoading" :error="relatedError">
      <SimilarActivities :relatedItems="relatedData.results" />
    </Loader>
  </div>
</template>
