<script setup>
import PeopleAmountLabel from '../atoms/PeopleAmountLabel.vue';
import Location from '../atoms/Location.vue';
import Title from '../atoms/Title.vue';
import Description from '../atoms/Description.vue';
import Points from '../atoms/Points.vue';

defineProps({
    data: {
        type: Object,
        required: true,
    }
})
</script>
<template>
    <div class="activity-header">
        <div class="activity-header__wrap">
            <Title :text="data?.title || ''" size="big" />
            <Description :text="data?.activity?.description" size="big" />
            <PeopleAmountLabel :people="data?.activity?.participants" />
            <Location :text="data?.activity?.location" size="big" />
        </div>
        <Points :value="data?.points" size="big" />
    </div>
</template>