<script setup>
import ActivityHeader from './ActivityHeader.vue';
import ActivityBenefits from './ActivityBenefits.vue';
import ImageCarousel from '../ImageCarousel.vue';
import GoBack from '../atoms/GoBack.vue';
import Rules from '../Rules.vue';

defineProps({
    data: {
        type: Object,
        required: true
    }
})
</script>
<template>
    <div class="activity-description">
        <GoBack />
        <div class="activity-description__content">
            <div class="col">
                <ActivityHeader :data="data" />
            </div>
            <div class="col">
                <ImageCarousel :images="data?.activity?.image"/>
                <ActivityBenefits :benefits="data?.activity?.benefits" />
            </div>
        </div>
        <Rules />
    </div>
</template>