<script setup>

const TITLE = "¿Qué incluye?"

defineProps({
    benefits: {
        type: String,
        required: true
    }
})
</script>
<template>
    <div class="benefits">
        <div class="benefits__head">
            <h3>{{ TITLE }}</h3>
        </div>

        <div class="benefits__description" v-html="benefits" />
    </div>
</template>