.activities {
  margin: 0 auto;
  padding: 110px 20px;
  width: 100%;
  max-width: 1090px;
  &__results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-bottom:60px;
  }
}
