.activity-description {
  &__content {
    @media screen and (min-width: 967px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;

      margin-bottom: 60px;

      .col {
        width: 50%;

        &:last-child {
          padding-right: 20px;
        }
      }
    }
  }
}
