.activity-card {
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: left;
  color: var(--color-grey);

  &__img {
    height: 240px;

    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    margin-bottom: 18px;
  }

  &__label,
  &__location,
  &__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__label {
    position: relative;

    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;

    -webkit-line-clamp: 1;
    line-clamp: 1;

    padding-right: 40px;
    margin-bottom: 16px;

    &::before {
      content: '';
      width: 35px;
      height: 20px;

      position: absolute;
      right: 0;
      top: 0;

      background-repeat: no-repeat;
      background-position: 50%;
    }

    &.person::before {
      background-image: url('/img/Person.svg');
    }

    &.people::before {
      background-image: url('/img/People.svg');
    }
  }

  .location {
    margin-bottom: 16px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  &__description {
    height: 34px;
    margin-bottom: 24px;
    
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;

    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
