.benefits {
    font-family: 'Quicksand', sans-serif;
    &__head {
        display: flex;
        color: #464646;
        border-bottom: 1px solid #EAEAEA;
        margin-bottom: 50px;
        
        h3 {
            font-size: 22px;
            font-weight: 500;
            padding-bottom: 20px;
            border-bottom: 3px solid #FF6C5F;
        }
    }

    &__description {
        font-size: 18px;
        color: #4F4F4F;

        p {
            margin-bottom: 18px;
        }

        ul {
            padding-inline-start: 24px;
            margin-bottom: 16px;
            li {
                margin-bottom: 40px;
            }
        };
    }
}