.image-carousel {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 60px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel__prev,
    .carousel__next {
        color: white;
    }
}