.pagination-bar {
    $arrowMargin: 32px;
    --font-size: 18px;
    --circle-size: 50px;
    --link-margin: 0 12px;

    @media screen and (max-width: 768px) {
        --font-size: 14px;
        --circle-size: 30px;
        --link-margin: 0 6px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 24px;

    font-family: 'Quicksand', sans-serif;


    .link-container{
        margin-bottom: 38px;
    }

    &__link {
        position: relative;
        padding: 8px;
        margin: var(--link-margin);
        
        font-weight: 500;
        font-size: var(--font-size);
        color: black;
        text-decoration: none;
        z-index: 2;

        &.is-active {
            color: white;

            &::before {
                content: '';
                width: var(--circle-size);
                height: var(--circle-size);
    
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                background-color: #FF6C5E;
                border-radius: 100%;
                z-index: -1;
            }

            &.arrowLeft{
                
                &::before {
                    background-image: url('/img/arrow-left.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            &.arrowRight {
                
                &::before {
                    background-image: url('/img/arrow-right.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .arrowLeft {
        margin-right: $arrowMargin;
    }
    .arrowRight {
        margin-left: $arrowMargin;
    }

    .disable {
        pointer-events: none;
    }

    
    &__footer {
        font-weight: 500px;
        font-size: 16px;
        text-align: right;
        color: #BDBDBD;
    }

}