.rules {
  margin-bottom: 50px;
  
  &__head {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    padding-left: 32px;
    
    &::before {
      content: '';
      width: 20px;
      height: 40px;
      position: absolute;
      left: 0;
      top: -10px;

      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url('/img/Reglas.svg');
    }

    h2 {
      font-size: 22px;
      font-weight: 700;
      color: #464646;
      padding-bottom: 32px;
    }
  }

  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27.5px;
    color: #4F4F4F;
  }
}
