.similar-activities {
    h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        padding-bottom:60px;
    }
}