<script setup>
import Location from './atoms/Location.vue'
import Points from './atoms/Points.vue'

defineProps({
    title: {
        type: String,
        required: true,
    },
    description: {
        type: String,
        required: false,
        default: ""
    },
    thumbnail: {
        type: String,
        required: true,
    },
    shopLocation: {
        type: String,
        required: true,
    },
    id: {
        type: Number,
        required: true
    },
    participants: {
        type: Number,
        required: true
    },
    points: {
        type: Number,
        required: true,
    },
})
</script>

<template>
    <a
        class="activity-card"
        :href="`/actividades/${id}`"
        >
            <div class="activity-card__img" :style="`background-image: url(${thumbnail})`" />
            
            <div :class="`activity-card__label ${participants > 1 ? 'people' : 'person'}`" :title="title">{{ title }}</div>
            
            <Location :text="shopLocation"/>
            
            <p class="activity-card__description">{{ description }}</p>
        
            <Points size="small" :value="points"/>
</a>
</template>