<script setup>
import { Carousel, Navigation, Slide } from 'vue3-carousel'
import 'vue3-carousel/dist/carousel.css'

defineProps({
    images: {
        type: Array,
        required: true
    }
})
</script>
<template>
    <Carousel class="image-carousel">
    
        <Slide v-for="(img, idx) in images" :index="idx">
            <img :src="img" alt="">
        </Slide>
    
        <template #addons>
            <Navigation />
        </template>
        
    </Carousel>
</template>
  