<script setup>
defineProps({
    isLoading: {
        type: Boolean,
        required: true
    },
    error: {
        type: Object,
        required: false
    }
})
</script>
<template>
  <div class="loader">
  
    <p v-if="isLoading">Loading results...</p>
    
    <p v-else-if="error">Error fetching data: {{ error.message }}</p>
    
    <template v-else>
      <slot />
    </template>
  
  </div>
</template>
