<script setup>
import createPagination from 'js-pagination-parser'
import { onBeforeMount } from 'vue';
import { ACTIVITIES_URL } from '../utils/constants'

const paginationRange = 2
let parsedPagination = [];
let footerLabel = ''
const itemType = {
    link: 'link',
    space: 'space',
    arrowLeft: 'arrowLeft',
    arrowRight: 'arrowRight',
}

const {
    totalResults,
    limit,
    pageIdx,
    totalPages
} = defineProps({
    totalResults: {
        type: Number,
        required: true
    },
    limit: {
        type: Number,
        required: true
    },
    pageIdx: {
        type: Number,
        required: true
    },
    totalPages: {
        type: Number,
        required: true
    },
})

const setFooterLabel = ({ pageIdx, limit, totalResults }) => {
    let end = pageIdx * limit
    const start = end - (limit - 1)

    if (end > totalResults) {
        end = totalResults
    }

    return `${start}-${end} de ${totalResults} resultados`
}

const isArrowDisabled = ({type, pageIdx, totalPages}) => {
    if (type === itemType.arrowLeft && pageIdx === 1) {
        return true
    }

    if (type === itemType.arrowRight && pageIdx === totalPages) {
        return true
    }

    return false
}

onBeforeMount(() => {
    parsedPagination = createPagination({
        totalPages: totalPages,
        pageIndex: pageIdx,
        range: paginationRange,
        pageLink: '/actividades',
        pageQueryKey: '_page',
        resultsLimitQueryKey: '_limit',
        resultsLimitNumber: limit,
        setArrows: true
    })

    footerLabel = setFooterLabel({
        pageIdx,
        limit,
        totalResults
    })

});

</script>
<template>
    <div class="pagination-bar">

        <div class="wrap">


            <div class="link-container">

                <template v-for="(item, idx) in parsedPagination">

                    <template v-if="item.type === itemType.link">
                        <a :href="item.link" :key="idx" :index="idx" :class="{
                            'pagination-bar__link': true,
                            [item.type]: true,
                            'is-active': parseInt(item.page) == pageIdx
                        }">
                            {{ item.label }}
                        </a>
                    </template>

                    <template v-else-if="item.type === itemType.space">
                        <span :class="`pagination-bar__link ${item.type}`">{{ item.label }}</span>
                    </template>

                    <template v-else>

                        <a :href="item.link" :index="idx" :class="{
                            'pagination-bar__link': true,
                            'is-active': true,
                            [item.type]: true,
                            'disable': isArrowDisabled({
                                type: item.type,
                                pageIdx,
                                totalPages
                            })
                        }" />

                    </template>

                </template>

            </div>

            <div class="pagination-bar__footer">
                {{ footerLabel }}
            </div>

        </div>

    </div>
</template>