<script setup>
defineProps({

})
</script>
<template>
    <div class="rules">
        <div class="rules__head">
            <h2>Reglas:</h2>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque at corporis a! Facere modi, ab similique sit impedit minima labore porro iste ducimus voluptas, maiores dolorem dicta itaque accusamus!</p>
    </div>
</template>
