<script setup>
import ActivityCard from './ActivityCard.vue';
import { Carousel, Slide } from 'vue3-carousel'
import 'vue3-carousel/dist/carousel.css'

defineProps({
    relatedItems: {
        type: Array,
        required: true,
    }
})

const breakpoints = {
    700: {
        itemsToShow: 3,
        snapAlign: 'center',
    },
    1024: {
        itemsToShow: 4,
        snapAlign: 'start',
    },
}

</script>
<template>
    <div class="similar-activities">
        <h2>Otras actividades similares:</h2>
        
        <div class="similar-activities__items">
            <Carousel class="similar-activities__items" :breakpoints="breakpoints">

                <slide
                    v-for="({ title, activity, id, participants, points }, idx) in relatedItems"
                    :index="idx"
                >
                    <ActivityCard
                        :title="title"
                        :description="activity?.description"
                        :shopLocation="activity?.location || ''"
                        :thumbnail="activity?.image[0] || ''"
                        :id="id"
                        :participants="participants"
                        :points="points" />
                </slide>

            </Carousel>
        </div>

    </div>
</template>
<style scoped>
.carousel__slide {
  padding: 10px;
}
</style>