<script setup>
defineProps({
    size: {
        // small | big
        type: String,
        required: false,
        default: "small"
    },
    text: {
        type: String,
        required: true,
        default: ""
    }
})
</script>

<template>
    <p :class="`description ${size}`">{{ text }}</p>
</template>