<script setup>
import { useRouter } from 'vue-router'

const router = useRouter()
const goBack = () => router.go(-1)
</script>
<template>
    <button class="go-back" @click="goBack">
        <img :src="'/img/Arrow.svg'">
    </button>
</template>