<script setup>
defineProps({
    size: {
        // small | big
        type: String,
        required: false,
        default: "small"
    },
    text: {
        type: String,
        required: true,
        default: ""
    }
})
</script>

<template>
    <div :class="`location ${size}`" :title="text">{{ text }}</div>
</template>