<script setup>
defineProps({
    people: {
        type: Number,
        required: true
    }
})

</script>

<template>
    <div
        :class="`people-amount-label ${people > 1 ? 'people' : 'person'}`">
            Para {{ people }} {{ (people > 1 ? 'personas' : 'persona') }}
    </div>
</template>