<script setup>
defineProps({
    size: {
        // small | big
        type: String,
        required: false,
        default: "small"
    },
    value: {
        type: Number,
        required: true,
        default: ""
    }
})
</script>

<template>
    <div :class="`points ${size}`">{{ value }} puntos</div>
</template>