<script setup>
defineProps({
    size: {
        // small | big
        type: String,
        required: false,
        default: "small"
    },
    text: {
        type: String,
        required: true,
        default: ""
    }
})
</script>

<template>
    <h2 :class="`title ${size}`">{{ text }}</h2>
</template>